body{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    background: #ecf0f3;
}
.container{
    width: 40%;
    height: 90vh;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 12px 12px 20px #cbced1,
             -12px -12px 20px #ffffff;
                
}
.display #screen{
    width: 97%;
    height: 90px;
    font-size: 35px;
    outline: none;
    border: none;
    text-align: right;
    padding-right: .5em;
    background: #ecf0f3;
    border-radius: 6px;
    box-shadow: inset 8px 8px 8px #cbced1,
                inset -8px -8px 8px #ffffff;
}
.btns{
    width: 100%;
    margin-top: 1.7em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.btns .row button{
    width: 40px;
    height: 50px;
    font-size: 20px;
    border: none;
    outline: none;
    margin: 3px;
    margin-bottom: 30px;
    border-radius: 4px;
    box-shadow: 5px 5px 8px #00000020,
                -5px -5px 8px #ffffff;
}

@media screen and (min-width: 300px) {
    .container{
        width: 80%;
    }
}
